# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DataMining_sln.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ildar\Desktop\informatics4term\DataMining_sln\.idea\.idea.DataMining_sln\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
